@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color:black;
  }